
#animal-container {
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#animal-container img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
    /* transform-origin: center bottom; */
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/heart.png");
    background-size: cover;
    animation: animateHearts 1.5s linear;
}

@keyframes animateHearts {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    50% {
    }

    100% {
        transform: translateY(-100px) scale(0.5);
        opacity: 0;
    }
}
